:root {
  --app-height: 100%;
  -webkit-tap-highlight-color: rgba(113, 102, 255, .3);
}

html,
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  height: var(--app-height);
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  border-radius: 12px 6px 12px 6px !important;
  font-weight: 700 !important;
}

input {
  font-family: 'Poppins', 'sans-serif' !important;
}
table, th, td {
  font-family: 'Poppins', 'sans-serif' !important;
}
th {
  font-weight: 700 !important;
}
.MuiPaper-root {
  font-family: 'Poppins', 'sans-serif' !important;
  border-radius: 20px !important;
}
.MuiFormLabel-root {
  font-family: 'Poppins', 'sans-serif' !important;
  font-weight: 700;
}
.MuiInputBase-root {
  font-weight: 700;
  border-radius: 16px !important;
}
.MuiBox-root {
  font-family: 'Poppins', 'sans-serif' !important;
}
.MuiTooltip-tooltip {
  font-family: 'Poppins', 'sans-serif' !important;
  font-weight: 600;
  background: '#ffffff';
  border-radius: 12px !important;
}
.MuiTypography-root {
  font-family: 'Poppins', 'sans-serif' !important;
}
.MuiMenuItem-root {
  font-family: 'Poppins', 'sans-serif' !important;
  font-weight: 500 !important;
  border-radius: 10px !important;
}
.MuiModal-backdrop:not(.MuiBackdrop-invisible) {
  -webkit-filter: blur(2px) !important;
  -webkit-filter: blur(2px) !important;
  -moz-filter: blur(2px) !important;
  -ms-filter: blur(2px) !important;
  -o-filter: blur(2px) !important;
  filter: blur(2px) !important;
  backdrop-filter: blur(2px);
}
.MuiTable-root tr td, .MuiTable-root tr th {
  border-width: 3px;
  padding-left: 32px;
  border-color: rgb(20, 20, 20);
}

.MuiTable-root tr:last-child td {
  border-bottom:0;
}
.MuiList-root{
  overflow: hidden !important;
}
.ProseMirror {
  padding-left: 8px;
}


@font-face {
  font-weight: 100;
  font-family: 'Poppins';
  font-style: normal;
  src: url('assets/fonts/poppins/Poppins-Thin.ttf'),;
  font-display: block;
}

@font-face {
  font-weight: 200;
  font-family: 'Poppins';
  font-style: normal;
  src: url('assets/fonts/poppins/Poppins-ExtraLight.ttf'),;
  font-display: block;
}

@font-face {
  font-weight: 300;
  font-family: 'Poppins';
  font-style: normal;
  src: url('assets/fonts/poppins/Poppins-Light.ttf'),;
  font-display: block;
}

@font-face {
  font-weight: 400;
  font-family: 'Poppins';
  font-style: normal;
  src: url('assets/fonts/poppins/Poppins-Regular.ttf'),;
  font-display: block;
}

@font-face {
  font-weight: 500;
  font-family: 'Poppins';
  font-style: normal;
  src: url('assets/fonts/poppins/Poppins-Medium.ttf'),;
  font-display: block;
}

@font-face {
  font-weight: 600;
  font-family: 'Poppins';
  font-style: normal;
  src: url('assets/fonts/poppins/Poppins-SemiBold.ttf');
  font-display: block;
}

@font-face {
  font-weight: 700;
  font-family: 'Poppins';
  font-style: normal;
  src: url('assets/fonts/poppins/Poppins-Bold.ttf');
  font-display: block;
}

@font-face {
  font-weight: 800;
  font-family: 'Poppins';
  font-style: normal;
  src: url('assets/fonts/poppins/Poppins-ExtraBold.ttf');
  font-display: block;
}

@font-face {
  font-weight: 800;
  font-family: 'Poppins';
  font-style: normal;
  src: url('assets/fonts/poppins/Poppins-Black.ttf');
  font-display: block;
}

@font-face {
  font-family: 'Rubik';
  font-weight: 300;
  src: url("assets/fonts/rubik/Rubik-Light.ttf");
  }

@font-face {
  font-family: 'Rubik';
  font-weight: 400;
  src: url("assets/fonts/rubik/Rubik-Regular.ttf");
 }

@font-face {
  font-family: 'Rubik';
  font-weight: 500;
  src: url("assets/fonts/rubik/Rubik-Medium.ttf");
  }

@font-face {
  font-family: 'Rubik';
  font-weight: 700;
  src: url("assets/fonts/rubik/Rubik-Bold.ttf");}



.star-wars-effect {
  position: relative !important;
  transform-origin:50% 100% !important;
  transform:perspective(300px) rotateX(20deg) !important;
}
.star-wars-effect-sm {
  position: relative !important;
  transform-origin:50% 100% !important;
  transform:perspective(900px) rotateX(20deg) !important;
}




#root {
  height: 100%;
}

a {
  -webkit-touch-callout: none;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(43, 45, 49);
}




em-emoji-picker {
  --rgb-background: 1, 1, 1;
  --border-radius: 4px;
}

.ProseMirror {
  outline: none !important;
  font-size: 15px;
  max-height: 200px;
  overflow: auto;

  > * + * {
    margin-top: 0.75em;
  }

  .mention {
    color: #FFD60A;
  }
}


